[submodule "angular-cli"]
	path = angular-cli
	url = https://github.com/MatheusGeiger/angular-cli.git
	branch = master
[submodule "node-employee-api"]
	path = node-employee-api
	url = https://github.com/MatheusGeiger/employee_project.git
	branch = master
