[submodule "angular-cli"]
	path = angular-cli
	url = git@github.com:MatheusGeiger/angular-cli.git
	branch = master
[submodule "node-employee-api"]
	path = node-employee-api
	url = git@github.com:MatheusGeiger/node-employee-api.git
	branch = master
